<h1 class="edit-title">Editing Book</h1>

<%= form_with model: @book do |f| %>

  <div>
    <p>Title</p>
    <p class="edit-area"><%= f.text_field :title %></p>
  </div>
  
  <div class="erea">
    <p class="heading">Body</p>
    <p class="edit-area"><%= f.text_area :body %></p>
  </div>
  
  <div class="update"><%= f.submit 'Update Book' %></div>
  
  <a><%= link_to "Show", book_path(@book.id) %></a>
  |
  <a><%= link_to "Back", books_path %></a>
 <% end %>